/* Global Rules */
:root {
  --main-color: #ffa62b; /* Primary Color */
  --second-color: #000000; /* Primary Text */
  --third-color: #4d4d4d; /* Secondary Text */
  --forth-color: #161616; /* Footer Color */
  --fifth-color: #f8f8f8; /* Text / Icons */
  --sixth-color: #878b8b; /*  */
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--fifth-color);
  height: 100vh;
}
/* Global Rules */

/* Start First Column */

.first-column-big-container .first-column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

.first-column-big-container .first-column-container div {
  margin: 5px;
}

.first-column-big-container .first-column-container div a:hover {
  padding-left: 15px;
  background-color: var(--main-color);
  width: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.first-column-big-container .first-column-container div a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: var(--forth-color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

.first-column-big-container .first-column-container div a p {
  width: fit-content;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}

.first-column-big-container .first-column-container div a i {
  font-size: 20px;
}

/* End First Column */
